.cards-container {
  display: flex;
  height: 210px;
  overflow-x: scroll;
  width: 100%;
}

.card-wrapper {
  background-color: white;
  border: 1px solid #ccc;
  margin-right: 10px;
  padding: 10px;
  width: 200px;
}

.button-start-recipe {
  bottom: 0;
  position: fixed;
}
